body {
    font-family: Helvetica;
    padding: 10px 30px;
}

h4 {
    margin-bottom: 0;
}

#clients {
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
}

#clients td {
    width: 50%;
    vertical-align: top;
}

.mote {
    font-family: monospace;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mote div {
    /*border: 1px solid #444;*/
    background: rgba(0, 0, 0, .15);
    padding: 12px 12px 12px 16px;
    margin: 8px 0;
    position: relative;
    min-height: 14px;
}

.mote div.active > div {
    background: #ccc;
}

.mote div::before {
    display: block;
    content: attr(data-tag);
    opacity: 0.5;
    background: black;
    color: white;
    padding: 2px 4px;
    width: -webkit-max-content;
    margin-bottom: 6px;
    text-align: center;
}

.mote * {
    clear: both;
}

button {
    font: inherit;
    font-size: 0.6em;
}

.mote span {
    background: rgb(125, 200, 125);
    padding: 3px 5px;
    /*border: 1px solid rgba(0, 0, 0, .3);*/
    display: inline-block;
    width: 20px;
    height: 1.8em;
    box-sizing: border-box;
    margin-left: 1px;
    margin-bottom: 2px;
    cursor: pointer;
    white-space: pre;
}

.mote span:hover {
    -webkit-filter: brightness(150%);
}

.mote .active {
    background: #98e;
}

.mote span.active,
.mote span.target {
    border-right: 3px solid rgba(0, 0, 0, .3);
    margin-right: -1px;
    width: 21px;
}

.mote div.active, .mote div.target {
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    padding-bottom: 9px;
}

.mote div[data-tag="span"] {
    display: inline-block;
    margin-left: 1px;
    padding: 4px 6px 1px;
    margin-bottom: 3px;
    background: rgba(255, 0, 0, .25);
}

.mote div[data-tag="span"].active {
    margin-bottom: 0;
    background: #98e;
}

.mote div[data-tag="span"]::before {
    float: left;
    margin-top: 2px;
    margin-right: 2px;
    display: none;
}

.mote div.bold {
    font-weight: 900;
}
.mote div.italic {
    font-style: italic;
}

/******* targets *********/

.mote .active ~ * {
    background: red;
}

.mote .target ~ span {
    background: rgb(125, 200, 125);
}

/* reset previous changes*/

.mote .target ~ div {
    background: rgba(0, 0, 0, .15);
}

.mote .target ~ div[data-tag="span"] {
    background: rgba(255, 0, 0, .25);
}