html, body {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Helvetica;
}

#toolbar {
    display: flex;
    flex-direction: row;
    background: #ddd;
    border-bottom: 2px solid #aaa;
    padding: 5px 20px 8px;
}

#native-buttons {
    flex: 1;
}

button {
    font: inherit;
    border: 1px solid #aaa;
    background: #fff;
    text-transform: uppercase;
    box-shadow: #bbb 2px 2px;
    margin-right: 8px;
    padding: 6px 12px 3px;
    font-weight: bold;
    font-size: 0.9em;
}

#parent {
    background: #eee;
}

#client {
    background: white;
}

#client.blurred {
    background: #ccc;
}

// .load-ping {
//     background: yellow;
//     transition: 0s background linear;
// }
// :not(.load-ping) {
//     transition: 0.25s background linear;
// }

.mote {
    padding: 15px 30px;
    margin: 0;
}

.mote.theme-mock {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 16px;
    cursor: text;

    div {
        /*border: 1px solid #444;*/
        margin: 12px 0;
        position: relative;
        min-height: 14px;
    }

    * {
        clear: both;
    }

    span {
        // background: rgb(220, 255, 220);
        /*border: 1px solid rgba(0, 0, 0, .3);*/
        display: inline;
        white-space: pre-wrap;
        z-index: 10;
    }

    span:hover {
        filter: brightness(150%);
    }

    div[data-tag="span"] {
        display: inline;
    }

    div[data-tag="span"]:empty::before {
        display: inline;
        content: "!";
        padding: 0 5px;
        border: 2px solid red;
    }
    
    div[data-tag="caret"] {
        display: inline;
        border-right: 2px red solid;
        overflow: visible;
        font-size: inherit;
        vertical-align: bottom;
        animation: caret step-end 1.2s infinite;

    }

    div[data-tag="caret"][data-client="middle"] {
        border-right-color: #0f0;
    }

    div[data-tag="caret"][data-client="right"] {
        border-right-color: blue;
    }

    @keyframes caret {
        0% {
            border-right-width: 2px;
            margin-right: -2px;
            margin-left: -1px;
        }
        // 50% {
        //     border-right-width: 0;
        //     margin-right: 0;
        // }
      }

    /**
     * span styles
     */

    div.bold {
        font-weight: 900;
    }
    div.italic {
        font-style: italic;
    }

    div[data-tag="h1"] {
        font-size: 2.0em;
        font-weight: bold;
    }

    div[data-tag="h2"] {
        font-size: 1.7em;
        font-weight: bold;
    }
    
    div[data-tag="h3"] {
        font-size: 1.4em;
        font-weight: bold;
    }
    
    div[data-tag="pre"] {
        font-family: monospace;
    }

    div[data-tag="bullet"] {
        list-style: disc outside none;
        display: list-item;
        margin-left: 25px;
    }
}

.mote.theme-block {
    font-family: monospace;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div {
        /*border: 1px solid #444;*/
        background: rgba(0, 0, 0, .15);
        padding: 12px 12px 12px 16px;
        margin: 8px 0;
        position: relative;
        min-height: 14px;

        &::before {
            display: block;
            content: attr(data-tag);
            opacity: 0.5;
            background: black;
            color: white;
            padding: 2px 4px;
            width: -webkit-max-content;
            margin-bottom: 6px;
            text-align: center;
        }
    }

    * {
        clear: both;
    }

    span {
        background: rgb(125, 200, 125);
        padding: 3px 5px;
        /*border: 1px solid rgba(0, 0, 0, .3);*/
        display: inline-block;
        width: 20px;
        height: 1.8em;
        box-sizing: border-box;
        margin-left: 1px;
        margin-bottom: 2px;
        cursor: pointer;
        white-space: pre;
    }

    span:hover {
        filter: brightness(150%);
    }

    .active {
        background: #98e;
    }

    span.active,
    span.target {
        border-right: 3px solid rgba(0, 0, 0, .3);
        margin-right: -1px;
        width: 21px;
    }

    div.active,
    div.target {
        border-bottom: 3px solid rgba(0, 0, 0, .3);
        padding-bottom: 9px;
    }

    div.active > div {
        background: #ccc;
    }

    div[data-tag="span"] {
        display: inline-block;
        margin-left: 1px;
        padding: 4px 6px 1px;
        margin-bottom: 3px;
        background: rgba(255, 0, 0, .25);

        &.active {
            margin-bottom: 0;
            background: #98e;
        }

        &::before {
            float: left;
            margin-top: 2px;
            margin-right: 2px;
            display: none;
        }
    }

    /**
     * targets
     */

    .active ~ * {
        background: red;
    }

    .target ~ span {
        background: rgb(125, 200, 125);
    }

    // reset previous changes

    .target ~ div {
        background: rgba(0, 0, 0, .15);
    }

    .target ~ div[data-tag="span"] {
        background: rgba(255, 0, 0, .25);
    }

    /**
     * span styles
     */

    div.bold {
        font-weight: 900;
    }
    div.italic {
        font-style: italic;
    }
}

body#multi {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    display: flex;
    flex-direction: column;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
        display: block;
    }

    #clients, #clients tbody, #clients tr, #clients td {
        display: block;
    }

    #clients, #clients tbody {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #clients tr {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #clients td {
        border: 2px solid black;
        box-sizing: border-box;
        flex: 1;
    }
}