<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>{{{stylesheet}}}</style>

<title>edit-text</title>

<body>
  <div id="content">
    
    <div id="toolbar">
      <a href="https://github.com/tcr/edit-text" id="logo">edit-text</a>
      <div id="native-buttons"></div>
      <div id="local-buttons"></div>
    </div>
    
    <div class="edit-text theme-mock">{{{body}}}</div>
  </div>
</body>

<script>
this.CONFIG = {};
</script>
<script src="/$/edit.js"></script>
