<!DOCTYPE html>

<html>
<head>

<link rel="icon" type="image/png" href="/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
@font-face {
  font-family: 'TeX Gyre Heros';
  font-weight: normal;
  src: url('/$/static/texgyreheros-regular.otf') format('opentype');
}

@font-face {
  font-family: 'TeX Gyre Heros';
  font-weight: bold;
  src: url('/$/static/texgyreheros-bold.otf') format('opentype');
}
</style>

<style>{{{stylesheet}}}</style>

<title>edit-text</title>
</head>

<body class="theme-column">
  <div id="content">
    <div id="root-layout">
      <div id="toolbar">
        <a href="https://github.com/tcr/edit-text" id="logo">edit-text</a>
        <div id="native-buttons"></div>
        <div id="local-buttons"></div>
      </div>
      
      <div id="edit-text-outer">
        <div class="edit-text" tabIndex="0">{{{body}}}</div>
      </div>
    </div>
  </div>
</body>

<script>
this.CONFIG = {};
</script>
<script src="/$/edit.js"></script>
