<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/$/edit.css">

<title>edit-text</title>

<body id="multi">

<h1>Multimonkey
    <button id="action-monkey">🙈🙉🙊</button>
    <span style="font-family: monospace; padding: 3px 5px;" id="timer"></span>
</h1>

<table id="clients">
<tr>
    <td>
    <iframe src="about:blank"></iframe>
    </td>
    <td>
    <iframe src="about:blank"></iframe>
    </td>
    <td>
    <iframe src="about:blank"></iframe>
    </td>
</tr>
</table>

</body>

<script>

function getQueryStrings() { 
  var assoc  = {};
  var decode = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); };
  var queryString = location.search.substring(1); 
  var keyValues = queryString.split('&'); 

  for(var i in keyValues) { 
    var key = keyValues[i].split('=');
    if (key.length > 1) {
      assoc[decode(key[0])] = decode(key[1]);
    }
  } 

  return assoc; 
}

// Randomize a path and set all iframes hrefs to it.
let path = getQueryStrings()['target'] || ('/random' + String(Math.random()).slice(2, 10));

Array.from(document.querySelectorAll('iframe')).map(function (i) {
  i.src = path;
});

// Timer component.
let counter = Date.now();
setInterval(() => {
  requestAnimationFrame(() => {
    let timer = document.querySelector('#timer');
    if (timer !== null) {
      timer.innerText = ((((Date.now() - counter)/1000)|0) + 's');
    }
  });
}, 1000);

// Monkey global click button.
let monkey = false;
document.querySelector('#action-monkey')
.addEventListener('click', () => {
  monkey = !monkey;
  for (let i = 0; i < window.frames.length; i++) {
    window.frames[i].postMessage({
      'Monkey': monkey,
    }, '*');
  }
  (document.querySelector('#action-monkey')).style.background = monkey ? '#0f0' : 'transparent';
});

</script>
