<!DOCTYPE html>

<html>
<head>

<link rel="icon" type="image/png" href="/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
@font-face {
  font-family: 'TeX Gyre Heros';
  font-weight: normal;
  src: url('/$/static/texgyreheros-regular.otf') format('opentype');
}

@font-face {
  font-family: 'TeX Gyre Heros';
  font-weight: bold;
  src: url('/$/static/texgyreheros-bold.otf') format('opentype');
}
</style>

<style>{{{stylesheet}}}</style>

<title>React Demo</title>
</head>

<body>
  <div id="content">
  </div>
</body>

<script>
this.CONFIG = {};
</script>
<script src="/$/edit.js"></script>
