target/
mercutio/test.txt
mercutio/log
mercutio/log2
mercutio/in
Vagrantfile
.vagrant
node_modules
dist/deploy/mercutio-server
*.sqlite3
ubuntu*.log
mercutio-frontend/dist/mercutio.wasm
mercutio-frontend/dist/mercutio.js.map
mercutio.js.map