.DS_Store
target/
edit/test.txt
edit/log
edit/log2
edit/in
Vagrantfile
.vagrant
node_modules
dist/deploy/edit-server
*.sqlite3
*.sqlite3-journal
ubuntu*.log
edit-frontend/dist/edit.wasm
edit-frontend/dist/edit.js.map
edit.js.map
.cargo
x.d
x.bash
x.fish
_x
