<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/$/mercutio.css">

<title>edit-text</title>

<body id="client">

    <div id="footer">
    ⚠️ You are viewing a sandbox for <b><a href="https://github.com/tcr/edit-text">edit-text</a></b>.
    There is a high chance of data loss, so don't store anything important here.
    Thanks for trying it out!
    </div>
    
    <div id="toolbar">
      <a href="https://github.com/tcr/edit-text" id="logo">edit-text</a>
      <div id="native-buttons"></div>
      <div id="local-buttons"></div>
    </div>
    
    <div class="edit-text"></div>

</body>

<script>
this.CONFIG = {};
</script>
<script src="/$/mercutio.js"></script>
