<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/$/mercutio.css">

<title>edit-text</title>

<body id="multi">

<h1>Multimonkey
    <button id="action-monkey">🙈🙉🙊</button>
    <span style="font-family: monospace; padding: 3px 5px;" id="timer"></span>
</h1>

<table id="clients">
<tr>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
</tr>
</table>

</body>

<script>

// Timer component.
let counter = Date.now();
setInterval(() => {
  requestAnimationFrame(() => {
    let timer = document.querySelector('#timer');
    if (timer !== null) {
      timer.innerText = ((((Date.now() - counter)/1000)|0) + 's');
    }
  });
}, 1000);

// Monkey global click button.
let monkey = false;
document.querySelector('#action-monkey')
.addEventListener('click', () => {
  monkey = !monkey;
  for (let i = 0; i < window.frames.length; i++) {
    window.frames[i].postMessage({
      'Monkey': monkey,
    }, '*');
  }
  (document.querySelector('#action-monkey')).style.background = monkey ? '#0f0' : 'transparent';
});

</script>
