<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/$/mercutio.css">

<title>edit-text</title>

<body id="multi">

<h1>Multimonkey
    <button id="action-monkey">🙈🙉🙊</button>
    <span style="font-family: monospace; padding: 3px 5px;" id="timer"></span>
</h1>

<table id="clients">
<tr>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
    <td>
    <iframe src="/monkey"></iframe>
    </td>
</tr>
</table>

</body>

<script>
this.CONFIG = {};
</script>
<script src="/$/mercutio.js"></script>
