* {
    // this is pretty aggro
    box-sizing: border-box;
}

html, body {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 1px;
}

#toolbar {
    display: flex;
    flex-direction: row;
    background: #ddd;
    border-bottom: 2px solid #aaa;
    padding: 5px 20px 8px;
    cursor: auto;
    position: fixed;
    z-index: 1000;
    height: 44px;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#logo {
    content: "edit-text";
    margin: 3px 20px 0 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 20px;
    height: 0;
    overflow: visible;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

#logo:hover {
    color: black;
    text-decoration: underline;
}

#native-buttons {
    flex: 1;
}

#toolbar {
    button {
        font: inherit;
        border: 1px solid #aaa;
        background: #fff;
        text-transform: uppercase;
        box-shadow: #bbb 2px 2px;
        margin-right: 8px;
        padding: 5px 12px 4px;
        font-size: 0.9em;
        animation: fadein 0.3s;
        font-weight: 500;
        color: #555;
        cursor: pointer;
    }

    button:active {
        box-shadow: #444 1px 1px;
        position: relative;
        top: 1px;
        left: 1px;
    }

    button.active {
        padding-bottom: 2px;
        border-bottom: 3px solid rgb(255, 168, 69);
        color: #000;
    }
}

kbd {
    font-family: monospace !important;
}

#parent {
    background: #eee;
}

#client {
    background: white;
    cursor: text;
}

#client.blurred {
    background: #ddd;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #cb9;
    background: #fff3bb;
    padding: 8px 10px;
    z-index: 100;
}

body.theme-column {
    background: #eee;
}

body.theme-column .edit-text {
    max-width: 60em;
    margin: 70px auto 70px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 8px #bbb;
    padding-top: 10px;
    padding-bottom: 30px;
}

.edit-text {
    padding: 54px 30px 50px; // + bottom padding for footer
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 16px;
    cursor: text;

    white-space: pre-wrap;
    font-kerning: none; // For caret wrapping with zero-width non-joiner
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    div {
        margin: 12px 0;
        position: relative;
        min-height: 14px;
    }

    * {
        clear: both;
    }
    
    div[data-tag="caret"] {
        display: inline;
        font-size: inherit;
        vertical-align: bottom;
        line-height: inherit;
    }

    @keyframes fadein {
        from { opacity: 1; } //TODO 0
        to   { opacity: 1; }
    }

    $color_curcaret: rgb(233, 15, 124);
    $color_caret: #089;

    div[data-tag="caret"]::before {
        border-left: 1px $color_caret solid;
        border-right: 1px $color_caret solid;
        margin-right: -1px;
        margin-left: -1px;
        content: '\200c'; // zero width non-joiner Unicode code point
        animation: fadein 0.3s;
    }

    div[data-tag="caret"].current::before {
        border-left: 1px $color_curcaret solid;
        border-right: 1px $color_curcaret solid;
        z-index: 100;
        position: relative;
    }

    // TODO the overlapping dashed cursors isn't working well

    div[data-tag="caret"] +
    div[data-tag="caret"].current::before {
        border-left-style: dashed !important;
        border-right-style: dashed !important;
    }

    div[data-tag="caret"].current +
    div[data-tag="caret"]::before {
        border-left-style: dashed !important;
        border-right-style: dashed !important;
        z-index: 1001;
        position: relative;
    }
    

    // @keyframes caret {
    //     0% {
    //         border-left-width: 1px;
    //         border-right-width: 1px;
    //         // margin-right: -2px;
    //         // margin-left: -1px;
    //     }
    //     50% {
    //         border-left-width: 0;
    //         border-right-width: 0;
    //     }
    //   }

    /**
     * span styles
     */

    div[data-tag="hr"] {
        margin: 16px 0;
        height: 2px;
        min-height: 0 !important;
        border-bottom: 1px solid #eee;
        background: #ccc;
    }

    div.bold {
        font-weight: 900;
    }
    div.italic {
        font-style: italic;
    }

    div[data-tag="h1"] {
        font-size: 2.0em;
        font-weight: bold;
        margin-top: 20px;
    }

    div[data-tag="h2"] {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 16px;
    }
    
    div[data-tag="h3"] {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    div[data-tag="h4"] {
        font-size: 1.1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    div[data-tag="h5"] {
        font-size: 1.0em;
        font-weight: bold;
        text-transform: uppercase;
    }

    div[data-tag="h6"] {
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    div[data-tag="pre"] {
        font-family: monospace;
        padding: 5px 8px;
        font-size: 0.9em;
        background: #eee;
    }
    
    div[data-tag="html"] {
        font-family: monospace;
        padding: 5px 8px;
        font-size: 0.9em;
        border: 1px solid #aa5;
        background: #eea;
    }

    // We don't use list-style because we need the element to overlap
    // the entire margin in order for caret resolution to work.

    div[data-tag="bullet"]::before {
        content: "\25CF";
        position: absolute;
        left: 8px;
    }

    div[data-tag="bullet"] {
        padding-left: 25px;
        position: relative;
    }

    div[data-tag="bullet"] + div[data-tag="bullet"] {
        margin-top: -5px;
    }
}

// Multi client
body#multi {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    display: flex;
    flex-direction: column;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
        display: block;
    }

    #clients, #clients tbody, #clients tr, #clients td {
        display: block;
    }

    #clients, #clients tbody {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #clients tr {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #clients td {
        border: 2px solid black;
        box-sizing: border-box;
        flex: 1;
    }
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    flex-direction: column;
    cursor: pointer;
}

#modal-dialog {
    width: 30em;
    box-shadow: 4px 4px 4px #333;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ddd;
    align-self: center;
    cursor: auto;
}

#modal-dialog textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 10em;
}

#modal-dialog button {
    border: 1px solid #999;
}

.modal-active {
    pointer-events: none;
}

body.editing-blurred div[data-tag="caret"]::before {
    filter: grayscale(100%);
}

span.selected {
    color: white;
    background: #349;
}

span.big-mood {
    color: yellow;
    -webkit-text-stroke: 3px blue;
    paint-order: stroke fill;
    -webkit-text-fill-color: yellow;
    text-shadow:
        2px 2px 0 #000,
        3px 3px 0 #000;
}