* {
    // this is pretty aggro
    box-sizing: border-box;
}

html, body, #content, .fullpage {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#root-layout {
    display: flex !important;
    flex-direction: column;
    height: 100%;

    #edit-layout {
        flex: 1;
    }
}

#toolbar {
    display: flex;
    flex-direction: row;
    background: #ddd;
    border-bottom: 2px solid #aaa;
    padding: 5px 20px 8px;
    cursor: auto;
    min-height: 44px;
    flex-wrap: wrap;

    #logo {
        content: "edit-text";
        margin: 3px 20px 0 0;
        font-family: Helvetica, Arial, sans-serif;
        color: #444;
        font-size: 20px;
        height: 0;
        overflow: visible;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;

        &::after {
            content: "ALPHA";
            background: #7ad;
            color: #fff;
            vertical-align: middle;
            text-shadow: 1px 1px 0px #006;
            font-weight: bold;
            border-radius: 4px;
            font-size: 10px;
            margin-left: 10px;
            padding: 4px 5px 3px;

        }
    }

    #logo:hover {
        color: black;
        text-decoration: underline;
    }

    #native-buttons {
        flex: 1;
    }

    kbd {
        border: 1px dashed #eee;
        background: #fea;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: normal;
        font-family: Consolas, 'Courier New', Courier, monospace;
    }

    $button-margin: 16px;

    .menu-buttongroup {
        display: inline-block;
        margin-right: $button-margin;
    
        button {
            margin-right: 4px !important;
        }
    }

    button {
        font: inherit;
        border: 1px solid #aaa;
        background: #fff;
        text-transform: uppercase;
        box-shadow: #bbb 2px 2px;
        margin-right: $button-margin;
        padding: 5px 12px 4px;
        font-size: 0.9em;
        animation: fadein 0.3s;
        font-weight: 500;
        color: #555;
        cursor: pointer;
    }

    button:active {
        box-shadow: #444 1px 1px;
        position: relative;
        top: 1px;
        left: 1px;
    }

    button.active {
        padding-bottom: 2px;
        border-bottom: 3px solid rgb(255, 168, 69);
        color: #000;
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .footer-bar {
        box-sizing: border-box;
        border-top: 1px solid #cb9;
        background: #fff3bb;
        padding: 7px 10px 8px;
        z-index: 100;
        padding-left: 34px;
        position: relative;

        // Close button
        span {
            opacity: 0.3;
            position: absolute;
            top: 2px;
            left: 12px;
            font-size: 20px;
            cursor: pointer;
            user-select: none;

            &:hover {
                opacity: 1.0;
            }
        }

        text-shadow: none;

        &.error {
            border-top-color: #a55;
            background: #cc3333;
            color: white;
            text-shadow: 1px 1px 0px rgba(0.0, 0.0, 0.0, 0.3);

            span {
                opacity: 0.5;
            }
        }
    }
}

// When in a "page" like view
body.theme-column {
    background: #eee;
    
    // Shadow and box styling.
    #edit-outer {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: 60em;
        margin: 26px auto 70px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 4px 4px 7px #ccc;
        min-height: 40em;
        padding: 10px 35px 50px; // + bottom padding for footer
        cursor: text;
    }
}

// The core editing component.
.edit-text {
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    outline: none;

    font-size: 16px; // TODO make variable, share with #edit-text-outer
    cursor: text;
    white-space: pre-wrap;
    font-kerning: none; // For caret wrapping with zero-width non-joiner
    font-family: 'TeX Gyre Heros', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.05pt;

    * {
        clear: both;
    }

    // Carets
    
    div[data-tag="caret"] {
        display: inline;
        font-size: inherit;
        vertical-align: bottom;
        line-height: inherit;
    }

    @keyframes fadein {
        from { opacity: 1; } //TODO 0
        to   { opacity: 1; }
    }

    $color_curcaret: rgb(233, 15, 124);
    $color_caret: #089;

    div[data-tag="caret"]::before {
        border-left: 2px $color_caret solid;
        margin-left: -1px;
        margin-right: -1px;
        content: '';
        animation: fadein 0.3s;
    }

    div[data-tag="caret"][data-focus="false"] {
        display: none;
    }

    div[data-tag="caret"][data-wsj]::before {
        content: '\200c' !important; // zero width non-joiner Unicode code point
    }

    div[data-tag="caret"].current::before {
        border-left: 2px $color_curcaret solid;
        z-index: 100;
        position: relative;
    }

    // TODO the overlapping dashed cursors isn't working well

    // div[data-tag="caret"] +
    // div[data-tag="caret"].current::before {
    //     border-left-style: dashed !important;
    //     border-right-style: dashed !important;
    // }

    // div[data-tag="caret"].current +
    // div[data-tag="caret"]::before {
    //     border-left-style: dashed !important;
    //     border-right-style: dashed !important;
    //     z-index: 1001;
    //     position: relative;
    // }
    
    // @keyframes caret {
    //     0% {
    //         border-left-width: 1px;
    //         border-right-width: 1px;
    //         // margin-right: -2px;
    //         // margin-left: -1px;
    //     }
    //     50% {
    //         border-left-width: 0;
    //         border-right-width: 0;
    //     }
    //   }

    // Blocks

    // All blocks.
    div[data-tag="h1"],
    div[data-tag="h2"],
    div[data-tag="h3"],
    div[data-tag="h4"],
    div[data-tag="h5"],
    div[data-tag="h6"],
    div[data-tag="p"],
    div[data-tag="pre"],
    div[data-tag="html"], {
        margin: 12px 0;
        position: relative;

        // All blocks should be minimum the height of one char.
        &:empty::after {
            content: " ";
        }
    }

    div[data-tag="hr"] {
        margin: 16px 0;
        height: 2px;
        min-height: 0 !important;
        border-bottom: 1px solid #eee;
        background: #ccc;
    }

    div[data-tag="h1"] {
        font-size: 2.0em;
        font-weight: bold;
        margin-top: 20px;
    }

    div[data-tag="h2"] {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 16px;
    }
    
    div[data-tag="h3"] {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    div[data-tag="h4"] {
        font-size: 1.1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    div[data-tag="h5"] {
        font-size: 1.0em;
        font-weight: bold;
        text-transform: uppercase;
    }

    div[data-tag="h6"] {
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    div[data-tag="pre"] {
        font-family: monospace;
        padding: 5px 8px;
        font-size: 0.9em;
        background: #eee;
    }
    
    div[data-tag="html"] {
        font-family: monospace;
        padding: 5px 8px;
        font-size: 0.9em;
        border: 1px solid #aa5;
        background: #eea;
    }

    // We don't use list-style because we need the element to overlap
    // the entire margin in order for caret resolution to work.

    div[data-tag="bullet"]::before {
        content: "\25CF";
        position: absolute;
        vertical-align: bottom;
        left: 8px;
        font-size: 0.95em;
        top: 1px;
    }

    div[data-tag="bullet"] {
        padding-left: 25px;
        position: relative;
    }

    div[data-tag="bullet"] + div[data-tag="bullet"] {
        margin-top: -5px;
    }

    // Spans.

    span.Bold {
        font-weight: bold;
    }

    span.Italic {
        font-style: italic;
    }

    span.Selected {
        color: white;
        background: #349;
    }

    div[data-tag="caret"] ~ span {
        color: white;
        background: #349;
    }

    div[data-tag="caret"] ~ div[data-tag="caret"] ~ span {
        color: inherit;
        background: inherit;
    }
    span.Link {
        color: #05d;
        text-decoration: underline;
    }

    span.Link.Selected {
        color: white !important;
    }

    span.Link:hover::before {
        background: black;
        content: "Command-click or ctrl-click to open this link.";
        position: absolute;
        top: 1.6em;
        
        font-size: 0.8em;
        font-weight: normal;
        padding: 2px 5px;
        color: white;
    }

    // fancy font
    span:not(.Normie) {
        color: yellow;
        -webkit-text-stroke: 3px #f00;
        paint-order: stroke fill;
        -webkit-text-fill-color: yellow;
        text-shadow:
            2px 2px 0 #000,
            3px 3px 0 #000;
    }

    // for debugging
    span + span {
        // outline: thin solid #32a1ce;
    }
}

// Multi client

#parent {
    background: #eee;
}

#client {
    background: white;
    cursor: text;
}

body#multi {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    display: flex;
    flex-direction: column;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
        display: block;
    }

    #clients, #clients tbody, #clients tr, #clients td {
        display: block;
    }

    #clients, #clients tbody {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #clients tr {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #clients td {
        border: 2px solid black;
        box-sizing: border-box;
        flex: 1;
    }
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    flex-direction: column;
    cursor: pointer;

    h1 {
        font-size: 22px;
        margin: 0;
    }
}

#modal-dialog {
    width: 50%;
    box-shadow: 4px 4px 4px #333;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ddd;
    align-self: center;
    cursor: auto;
}

#modal-dialog textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 30em;
    margin: 10px 0;
    padding: 8px 15px;
    border: 1px solid #555;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 500;
    background: #ffe;
}

#modal-dialog button {
    border: 1px solid #999;
    cursor: pointer;

    &.load {
        background-color: #093;
        color: white;
    }
}

.modal-active {
    pointer-events: none;
}

.modal-buttons {
    display: flex;
    
    button {
        font-size: 18px;
        padding: 5px 10px;
    }
}

// TODO ??
// body.editing-blurred div[data-tag="caret"]::before {
//     filter: grayscale(100%);
// }

// Debugging

.edit-text {
    // exclusionary set of adjacent spans that should NOT be adjacent

    span.Normie:not(.Link):not(.Bold):not(.Italic) + span.Normie:not(.Link):not(.Bold):not(.Italic),
    span.Normie.Link:not(.Bold):not(.Italic) + span.Normie.Link:not(.Bold):not(.Italic),
    span.Normie:not(.Link).Bold:not(.Italic) + span.Normie:not(.Link).Bold:not(.Italic),
    span.Normie:not(.Link):not(.Bold).Italic + span.Normie:not(.Link):not(.Bold).Italic {
        outline: 1px orange dashed;
        background: #f55;
    }
}