$layout-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);

// page content and modal layer (.fullpage) is fullsized
html, body, #content, .fullpage {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#root-layout {
    display: flex !important;
    flex-direction: column;
    height: 100%;

    #edit-layout {
        display: flex;
        flex-direction: row;
        overflow: auto;
        flex-grow: 1;

        #edit-sidebar {
            width: 0;
            display: flex;
            overflow: visible;
            flex-direction: column;
            align-self: stretch;

            // When expanded, expand #edit-sidebar-inner.
            #edit-sidebar-inner {
                width: 0;
                border-right: none;
            }
            &.expanded #edit-sidebar-inner {
                width: 300px;
                border-right: 1px #999 solid;
            }

            #edit-sidebar-inner {
                transition: all 0.2s ease;
                box-shadow: $layout-shadow;
                overflow: hidden;
                background: #eee;
                z-index: 1000;

                display: flex;
                flex-direction: column;
                height: 100%;

                // To fix all contents at 300px even when animating the drawer
                // opening, this inner item re-fixes the width at 300px.
                #edit-sidebar-inner-inner {
                    width: 300px;
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    overflow: auto;

                    // Scrollable contents inside here.
                }
            }
        }

        #edit-outer {
            flex: 1;
            overflow: auto;
        }
    }
}


// When in a "page" like view
body.theme-column {
    background: #eee;
    
    // Shadow and box styling.
    #edit-page {
        box-sizing: border-box;
        font-size: 16px;
        max-width: 60em;
        margin: 26px auto 70px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: $layout-shadow;
        min-height: calc(100% - 100px);
        padding: 10px 35px 30px; // + bottom padding for footer
        cursor: text;
    }
}

// Else
body:not(.theme-column) {
    #edit-page {
        padding: 10px 35px 30px; // + bottom padding for footer
    }
}
