
// Multi client

#parent {
    background: #eee;
}

#client {
    background: white;
    cursor: text;
}

body#multi {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    display: flex;
    flex-direction: column;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
        display: block;
    }

    #clients, #clients tbody, #clients tr, #clients td {
        display: block;
    }

    #clients, #clients tbody {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #clients tr {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #clients td {
        border: 2px solid black;
        box-sizing: border-box;
        flex: 1;
    }
}
